
.DS_Store
README.md
*.xcuserstate
*.xcworkspace
*.xcuserdata
*.xcuserstate
*.xcworkspacedata
DerivedData/
.idea/
*.xcodeproj/project.xcworkspace/# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
