<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.984290986843-dnv5t5l8aitlqkmccn0iu1qu1a7h16b3</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>984290986843-dnv5t5l8aitlqkmccn0iu1qu1a7h16b3.apps.googleusercontent.com</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to provide place search suggestions.</string>
</dict>
</plist>
